{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap4 %}
{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
{% load static %}
<div class="container" style="margin-top: 8%;">
    <main id="main">
        <div class="container" style="table-layout: display; width:600px; margin-bottom:10%;">
            <div class="card" style="padding-left: 2%; padding-right:2%; padding-top:2%; padding-bottom:2%; background-color:white;">
                <div class="wrap-login100 p-t-20 p-b-30">
                    <p style="font-size: larger;">{% trans "Set Password" %}</p>

                    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <input type="submit" class="btn btn-success btn-rounded" name="action"
                            value="{% trans 'Set Password' %}" />
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}