{% extends "account/base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
{% load static %}
<div class="container" style="margin-top: 8%;">
	<main id="main">
		<div class="container" style="table-layout: display; width:600px; margin-bottom:10%;">
			<div class="card" style="padding-left: 2%; padding-right:2%; padding-top:2%; padding-bottom:2%; background-color:rgb(217, 231, 231)">
				<div class="wrap-login100 p-t-20 p-b-30">
					<h1>{% trans "Change Password" %}</h1>

					<form method="POST" action="{% url 'account_change_password' %}" class="password_change">
						{% csrf_token %}
						{% bootstrap_form form %}
						<button class="btn btn-success btn-rounded" type="submit"
							name="action">{% trans "Change Password" %}</button>
					</form>
				</div>
			</div>
		</div>
	</main>
</div>

{% endblock %}